*{box-sizing: border-box;}

/* Heading */
.heading {
    text-align: center;
    background-color: aqua;
    color: blue;
    padding: 1em;
}

/* Container Class */
.container {
    text-align: justify;
}

.container img {
    display: inline-block;
    width: 500px;
    height: 700px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Filters */
.history{
    margin: auto;
    filter: invert(100%);
}

.math{
    margin: auto;
    filter: blur(2px);
    box-shadow: 1em;
}

.science{
    margin: auto;
    filter: sepia(100%);
}

/* Text */
.pos{
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 20%;
    background-color: rgba(0, 128, 255, 0.4);
    text-align: center;
    border: ridge whitesmoke;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.pos2{
    position: absolute;
    top: 500px;
    left: 700px;
    width: 20%;
    text-align: center;
    border: whitesmoke;
    color: orangered;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 20px;
  }

.color{
    color: magenta;
}

.color1{
    color: white;
    background-color: red;
    text-decoration: none;
}

.pos3{
    position: absolute;
    top: 450px;
    left: 1300px;
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial;
  }

.pos4{
    position: absolute;
    top: 300px;
    left: 1300px;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial;
  }

.pos4{
    position: absolute;
    top: 200px;
    left: 1500px;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial;
  }

.pos5{
    position: absolute;
    top: 150px;
    left: 1250px;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial;
  }

.pos6{
    position: absolute;
    top: 600px;
    left: 1500px;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    font-family: Arial;
  }